*{
    margin: 0;
    padding: 0;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #333;

}

section h2{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    font-size: 10vw;
    color: white;
    font-weight: 700;
}

.banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.banner .blocks{
    position: relative;
    display: block;
    width: 5vw;
    height: 5vw;
   background: white;
   animation: animate 0.75s ease in out forwards;
}

@keyframes animate{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
       
        opacity: 1;
    }
}