*{
    margin: 0;
    padding: 0;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #333;

}

section h2{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    font-size: 10vw;
    color: white;
}